*{
    margin: 0;
    padding: 0;
}

.subscribe .card{
    background-color: #F1A501;
    width:1000px;
    height:200px;
    margin-top:100px;
    margin-bottom:70px;
}

.subscribe .input-group{
    position: relative;
}

/* FONT */

.hero-font{
    font-family: 'Work Sans', sans-serif
}
.breadcrumb .breadcrumb-item{
    margin-top: 150px;

}
.container-news{
    position: relative;
}
.navbar{
    position: relative ;
    z-index: 1;
}
/* jumbotron */

/* .container .cs-hidden{
    display: flex;
    justify-content: left;
    height: 300px;
    width: 370px;
    margin: 10px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
} */
/* .services-container .slider{
    display: flex;
    justify-content: left;
    height: 300px;
    width: 370px;
    box-shadow: 0px 1px 4px ;
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
} */

.slider{
    overflow: hidden;

}
.slider .card{
    width: 350px;
    height: 300px;
    border-radius: 20px;
}
.slider img{
    height: 80px;
    width: 80px;
    justify-content: space-between;

}
.container{
    display: flex;
    justify-content: left;
    /* height: 600px;
    width: 4000px; */
    /* margin: 10px auto; */
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

.container .row{
    justify-content: center;
}

.container .card-cantas{
    justify-content: center;
    border-radius: 20px;
}
/* .news a{
    position: absolute;
    margin-left:-300px;
} */
.arrow{
    position: absolute;
    top: 200px;
    right: 0px;
    color: #fff;
    font-size: 125px;
    cursor: pointer;
}
/* .slide-img{
    height: 500px;
    width: 300px;
    position: relative;
} */

/* .slider img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
} */

.detail-box{
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}

.overlay{
    visibility: hidden;
}

.slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.slider{
    width: 100%;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
}

/* ABOUT US */


.jumbotron-aboutus {
    background-image: url('../assets/images/background/Background.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
}

.jumbotron-aboutus .container{
    z-index: 1;
    position: relative;
}

.jumbotron-aboutus::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-aboutus .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-aboutus .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* Info Panel */
.info-panel-aboutus{
    background-color: white;
    box-shadow: 0 1px 4px;
    border-radius: 10px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}


/* SOLUTIONs */
.jumbotron-solution {
    background-image: url('../assets/images/background/Backgroundsolution.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}
.jumbotron-solution .container{
    z-index: 1;
    position: relative;
}

.jumbotron-solution::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-solution .display-4-solution{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-solution .display-4-solution .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.info-panel-solution{
    background-color: black;
    border-radius: 10px;
    width: 1314px;
    height: 800px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* TECHNOLOGY */
.jumbotron-technology {
    background-image: url('../assets/images/background/Backgroundtechnology.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}

.jumbotron-technology .container{
    z-index: 1;
    position: relative;
}

.jumbotron-technology::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-technology .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-technology .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.info-panel-technology{
    background-image: url('../assets/images/technology/bgimg.png');
    border-radius: 10px;
    width: 1186px;
    height: 2297px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;

}

/* NEWS */
.jumbotron-news {
    background-image: url('../assets/images/background/Backgroundnews.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}
.jumbotron-news .container{
    z-index: 1;
    position: relative;
}

.jumbotron-news::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-news .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-news .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.info-panel-news{
    background-color: white;
    border-radius: 10px;
    width: 1314px;
    height: 800px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* Our Experience */
.ourexperience, .card{
    margin-left: 10px;
    position: relative;

}

/* Team Member */
.team-member, .card{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
}

.team-member, .card-title{
    text-align: center;
}

/* .services{
    bottom: 500px;
}
.services .card-body{
    width: 350px;
    height: 300px;
} */
/* .services .card img{
    position: absolute;
    margin-left: 200px;

} */
/* .services .card-body .text{
    margin-top: 100px;
    position: absolute;
    margin-left: 20px; margin-top: 20px; text-align: justify
} */
 /* .services .row{
        margin: 30px;
    }  */



















@media (min-width: 576px) {
     /* Solution */
.jumbotron-solution {
    background-image: url('../assets/images/background/Backgroundsolution.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}
.jumbotron-solution.container{
    z-index: 1;
    position: relative;
}

.jumbotron-solution::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-solution .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-solution .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.info-panel-solution{
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 800px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* TECHNOLOGY */
.jumbotron-technology {
    background-image: url('../assets/images/background/Backgroundtechnology.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}
.jumbotron-technology .container{
    z-index: 1;
    position: relative;
}

.jumbotron-technology::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-technology .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-technology .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


/* ABOUT US */


.jumbotron-aboutus {
    background-image: url('../assets/images/background/Background.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
}

.jumbotron-aboutus .container{
    z-index: 1;
    position: relative;
}

.jumbotron-aboutus::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-aboutus .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-aboutus .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* Info Panel */
.info-panel-aboutus{
    background-color: white;
    box-shadow: 0 1px 4px;
    border-radius: 10px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* Our Experience */
.ourexperience, .card{
    margin-left: 10px;
    position: relative;

}

/* Team Member */
.team-member, .card{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
}

.team-member, .card-title{
    text-align: center;
}

 }





/* Dekstop Version */
@media (min-width: 992px) {
    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid brown;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* .news a{
        position: absolute;
        margin-left:-300px;
    } */
    .services img{
        position: absolute;
    }

    .services .card-body{
        width: 350px;
        height: 300px;

    }
    .services .card img{
        position: absolute;
        margin-left: 200px;

    }
    .services .card-body .text{
        margin-top: 100px;
        position: absolute;
        margin-left: 20px; margin-top: 20px; text-align: justify
    }

    .services .card{
        position: absolute;

    }
    .services {
        margin: 30px;
    }

    /* Solution */
.jumbotron-solution {
    background-image: url('../assets/images/background/Backgroundsolution.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}
.jumbotron-solution.container{
    z-index: 1;
    position: relative;
}

.jumbotron-solution::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-solution .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-solution .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.info-panel-solution{
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* TECHNOLOGY */
.jumbotron-technology {
    background-image: url('../assets/images/background/Backgroundtechnology.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}
.jumbotron-technology .container{
    z-index: 1;
    position: relative;
}

.jumbotron-technology::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-technology .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-technology .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.info-panel-technology{
    background-image: url('../assets/images/technology/bgimg.png');
    border-radius: 10px;
    width: 1186px;
    height: 2297px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;

}

/* ABOUT US */


.jumbotron-aboutus {
    background-image: url('../assets/images/background/Background.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
}

.jumbotron-aboutus .container{
    z-index: 1;
    position: relative;
}

.jumbotron-aboutus::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-aboutus .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-aboutus .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* Info Panel */
.info-panel-aboutus{
    background-color: white;
    box-shadow: 0 1px 4px;
    border-radius: 10px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}

/* Our Experience */
.ourexperience, .card{
    margin-left: 10px;
    position: relative;

}

/* Team Member */
.team-member, .card{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
}

.team-member, .card-title{
    text-align: center;
}

.card-body-indexnews{
    padding: 20px;
}

.index-services{
    padding: 20px;
}

.subscribe .card{
    background-color: #F1A501;
    width:1170px;
    height:200px;
    margin-top:100px;
    margin-bottom:70px;
}

/* NEWS */
.jumbotron-news {
    background-image: url('../assets/images/background/Backgroundnews.png');
    background-size: cover;
    height: 375px;
    width: auto;
    position: relative;
    margin: auto;
}
.jumbotron-news .container{
    z-index: 1;
    position: relative;
}

.jumbotron-news::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #FFF7F4, rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron-news .display-4{
    color: #373737;
    text-align: start;
    margin-bottom: 30px;
    margin-left: -135px;
    font-weight: 700;
    font-size: 48;
}

.jumbotron-news .display-4 .breadcrumb{
    color:  #373737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.info-panel-news{
    background-color: white;
    border-radius: 10px;
    width: 1314px;
    height: 800px;
    padding: 30px;
    margin-top: -70px;
    z-index: 1;
}
 }
